.btn-search{
    width: 45px;
    border-radius: 50%;
    outline: none !important;
    border: 0 !important;
    height: 45px;
    cursor: pointer;
    margin-right: 12px;
    background: #feb764e3;
    transition: ease-in-out 0.3s;
    &:hover{
        color: #495057;
        border-color: #f29940 !important;
        outline: 0;
        box-shadow: 0 0 3px 3px rgb(238 177 103);
    }
}
.btn{
    width: 140px;
    padding: 10px 20px;
    background: #fff;
    font-weight: bold;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    span{
        z-index: 10;
        position: relative;
    }
    &:before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #e3ac49, #dd7ab5d1);
        transition: cubic-bezier(.65,.3,.22,.84) 0.5s;
        transform-origin: left center;
        transform: scaleX(0);
        z-index: 0;
    }
    &:hover{
        transition: cubic-bezier(.65,.3,.22,.84) 0.5s;
        span{
            transition: cubic-bezier(.65,.3,.22,.84) 0.5s;
            z-index: 1;
        }
        &::before{
            transform: scaleX(1);
            transform-origin: right center;
            transition: cubic-bezier(.65,.3,.22,.84) 0.5s;

        }
    }
}
.btn-submit{
    border-radius: 5px;
    padding: 10px 30px;
    outline: none !important;
    border: 0 !important;
    height: 46px;
    cursor: pointer;
    margin-right: 12px;
    background: none;
    color: black;
    position: relative;
    transition: 0.5s;   
    background: #f3bab3;
    &:hover{
        background: #ffa397; 
    }
    &::before{
        position: absolute;
        content: "";
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        left: 0;
        top: 0;
        border: 1px solid red;
        border-radius: 5px;
    }
}
.btn-order{
    position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    border: none;
    font-family: cursive;
    transform: translateY(30px);
    margin-bottom: 50px;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 50%;
      transform: skewX(30deg);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: 0;
    }
    &::before {
      background-color: #ff9438;
      top: -1rem;
      left: 0rem;
    }
    &::after {
      background-color: #fa3e27;
      top: 1rem;
      left: 8rem;
    }
    &:hover {
      &::before,
      &::after {
        top: 0;
        transform: skewx(0deg);
      }
      &::after {
        left: 0rem;
      }
      &::before {
        left: 8.75rem;
      }
      span{
          color: #5862df;
      }
    }
    span{
        z-index: 2;
        position: relative;
        color: #7573e7;
        font-weight: bold;
    }
  }

